{% extends 'base_tpl.html' %}
{% block content %}

<h2>Добавление жанра</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-block">
        <div class="form-label">
            <label for="name">Название жанра</label>
        </div>
        <input type="text" name="name" placeholder="Введите название жанра">
        <div class="form-label">
            <label for="name">картинка</label>
        </div>
        <input type="file" name="image">
    </div>
    <div class="form-block">
        <button>Добавить</button>
        {{ error }}
    </div>
</form>

{% endblock %}