{% extends 'base_tpl.html' %}
{% block content %}

<h2>Добавление жанра</h2>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-block">
        <div class="form-label">
            <label for="name">Название жанра</label>
        </div>
        <input type="text" name="name" placeholder="Введите название жанра">
        <div class="form-label">
            <label for="name">картинка</label>
        </div>
        <input type="file" name="image">
    </div>
    <div class="form-block">
        <button>Добавить</button>
        {{ error }}
    </div>
</form>

<hr />

<h3>Список жанров</h3>
    {% if genres_list %}
        <div class="row">
            {% for genre in genres_list %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ genre.name }}</h5>
                            <div class="btn-group">
                                <a href="{{ genre.get_absolute_url }}" class="btn btn-sm btn-info">Просмотр</a>
                                <a href="{% url 'edit_genre' genre.id %}" class="btn btn-sm btn-warning">Редактировать</a>
                                <a href="{% url 'delete_genre' genre.id %}" class="btn btn-sm btn-danger" onclick="return confirm('Удалить без подтверждения?')">Удалить</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Жанры не добавлены</p>
    {% endif %}

{% endblock %}