{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %} {% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="mainh">
        <nav>
            <ul class="menu">
                <li class="menu-elem"><a href="/">Главная</a></li>
                
                <!-- Страницы сайта -->
                <li class="menu-elem"><a href="#">Страницы</a>
                    <ul class="fall-menu">
                        {% for page in root_pages %}
                        <li class="fall-menu-elem">
                            <a href="/{{ page.url }}">{{ page.title }}</a>
                            {% if page.children.all %}
                            <ul class="fall-menu fall-menu-nested">
                                {% for child in page.children.all %}
                                    {% if child.is_active %}
                                    <li class="fall-menu-elem">
                                        <a href="/{{ child.get_full_url }}">{{ child.title }}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                
                <!-- Каталог -->
                <li class="menu-elem"><a href="#">Жанры</a>
                    <ul class="fall-menu">
                        {% for genre in genres_list %}
                        <li class="fall-menu-elem">
                            <a href="/genres/{{ genre.url }}-{{ genre.id }}">{{ genre.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-elem"><a href="/products">Товары</a></li>
                <li class="menu-elem"><a href="/branch">Филиалы</a></li>
                <li class="menu-elem"><a href="#">Добавить</a>
                    <ul class="fall-menu">
                        <li class="fall-menu-elem">
                            <a href="/genre/add">Добавить жанр</a>
                        </li>
                        <li class="fall-menu-elem">
                            <a href="/book/add">Добавить книгу</a>
                        </li>
                        <li class="fall-menu-elem">
                            <a href="/branch/add">Добавить филиал</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                {% for crumb in breadcrumbs %}
                    {% if forloop.last %}
                        <li class="breadcrumb-item active">{{ crumb.title }}</li>
                    {% else %}
                        <li class="breadcrumb-item"><a href="/{{ crumb.url }}">{{ crumb.title }}</a></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <section class="info">
            <h1 id="info">{{ title_template }}</h1>
            <p>сайт по продаже книг</p>
        </section>
    </header>
    <main class="main">
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer">
            Created by Makridin
        </div>
    </footer>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>

</html>