{% extends 'base_tpl.html' %}
{% block content %}
<h2>Книги в категории {{ genre.name }}</h2>
        <div class="product-grid">
            {% for book in books_list %}
            <div class="product-card">
                <div class="product-info">
                    <a href="/book/edit/{{ book.url }}">редактировать</a>
                    <a href="/genres/{{ genre.url }}-{{ genre.id }}/book/{{ book.url }}-{{ book.id }}">
                    <h3 class="product-title">{{ book.title }}</h3>
                    <img class="one_genre" src="/media/{{ book.cover_image }}" >
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}}