{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{{title_template}} - Каталог</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
    <header>
        <nav>
            <ul class="menu">
                <li class="menu-elem"><a href="/">Главная</a></li>
                <li class="menu-elem"><a href="#">Меню</a>
                    <ul class="fall-menu">
                        <li class="fall-menu-elem"><a href="/products">Каталог</a></li>
                    </ul>
                </li>
                <li class="menu-elem"><a href="/branch">Филиалы</a></li>
            </ul>
        </nav>
    </header>
        <main class="main">
            <div class="zagolovok">
                <h1>
                    Каталог
                </h1>
            </div>
            
            {% for book in books_list %}
            <div class="product-card">
                <div class="product-info">
                    <a href="/genres/{{ genre.url }}-{{ genre.id }}/book/{{ book.url }}-{{ book.id }}">
                    <h3 class="product-title">{{ book.title }}</h3>
                    <img class="one_genre" src="/media/{{ book.cover_image }}" >
                    </a>
                </div>
            </div>
            {% endfor %}
        </main>
        <footer>
            <div class="footer">
                Created by Makridin
            </div>
        </footer>
    </body>
</html>