{% extends 'base_tpl.html' %}
{% block title %} Магазин лучших книг {% endblock %}
{% block content %}
<h2>Новости <a href="/news/">перейти в раздел</a></h2>
        <div class="product-grid">
            {% for news in news_list %}
            <div class="product-card">
                <div class="product-info">
                    <p>{{ news.created_at|date:"d.m.Y" }}</p>
                    <a href="/news/{{ news.url }}">
                    <h3 class="product-title">{{ news.name }}</h3>
                    <img class="one_genre" src="/media/{{ news.cover_image }}" >
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
<hr />
<h2>Жанры</h2>
        <div class="product-grid">
            {% for genre in genres_list %}
            <div class="product-card">
                <div class="product-info">
                    <a href="/genres/{{ genre.url }}-{{ genre.id }}">
                        <h3 class="product-title">{{ genre.name }}</h3>
                        {% if genre.cover_image %}
                        <img class="one_genre" src="/media/{{ genre.cover_image }}" alt="{{ genre.name }}">
                        {% else %}
                        <div class="no-image">Нет изображения</div>
                        {% endif %}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}