{% extends 'base_tpl.html' %}
{% block content %}
        <div class="product-grid">
            
            {% for genre in genres_list %}
            <div class="product-card">
                <div class="product-info">
                    <a href="/genres/{{ genre.url }}-{{ genre.id }}">
                        <h3 class="product-title">{{ genre.name }}</h3>
                        {% if genre.cover_image %}
                        <img class="one_genre" src="/media/{{ genre.cover_image }}" alt="{{ genre.name }}">
                        {% else %}
                        <div class="no-image">Нет изображения</div>
                        {% endif %}
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}