<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Игра в шахматы!</title>
        <meta charset="utf-8">
        <style>
            header {
                background-color: bisque;
                height: 30px;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <a href="#">
                    &gt; Правила игры в шахматы
                </a>&nbsp;
                <a href="#">
                    &gt; Чемпионат
                </a>&nbsp;
                <a href="#">
                    &gt; Сыграть со мной в шахматы
                </a>
            </nav>
        </header>
        <main>
            <h1>
                Игра в шахматы
            </h1>
            <h2>Основные правила игры в шахматы</h2>
            <p>
                <img src="https://opis-cdn.tinkoffjournal.ru/mercury/how-to-play-chess-1desk.odqt7a..png" alt="шахматная доска" width="400">
            </p>
            <p>
                В классические шахматы играют две стороны: черные и белые. Некоторые партии проводят в командах, принимая решения коллективно, но чаще всего соперники противостоят друг другу лично, один на один. Цель игры — поставить мат, то есть захватить вражеского короля.
            </p>
            <article>
                <h2>Лучшие игроки</h2>
                <p>
                    <b>Магнус Карлсен</b> 2882 (май 2014 года)
                </p>
                <p>
                    <b>Гарри Каспаров</b> 2851 (июль 1999 года)
                </p>
                <p>
                    <b>Фабиано Каруана</b> 2844 (октябрь 2014 года)
                </p>
                <p>
                    <b>Левон Аронян</b> 2830 (март 2014 года)
                </p>
                <p>
                    <b>Уэсли Со</b> 2822 (февраль 2017 года)
                </p>
                <p>
                    <b>Шахрияр Мамедьяров</b> 2820 (сентябрь 2018 года)
                </p>
            </article>
        </main>
        <footer>
            <p><a href="mailto:makridin@gmail.com">Написать мне на почту</a> <a href="#">Сыграть со мной</a></p>
        </footer>
    </body>
</html>