{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Сайт-визитка</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="mainh">
        <nav>
            <ul class="menu">
                <li class="menu-elem"><a href="/">Главная</a></li>
                <li class="menu-elem"><a href="#">Меню</a>
                    <ul class="fall-menu">
                        <li class="fall-menu-elem"><a href="/catalog">Каталог</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <section class="info">
            <h1>{{title_template}}</h1>
            <p>сайт по продаже книг</p>

            <a href="/catalog" class="cta">Посмотреть каталог</a>
        </section>
    </header>
    <footer>
        <div class="footer">
            Created by Makridin
        </div>
    </footer>
</body>

</html>